*.zip
*.jar
*.log
*.tmp
*.dat

vista_web_content_cache
server-resource-packs
screenshots
schematics
saves
quickskin
quickskin_cache
moonlight-global-datapacks
mods/*
moddata
logs
local
figura
dynamic-data-pack-cache
dynamic-resource-pack-cache
downloads
debug
crash-reports
coremods
cache
.sable
.probe
.vscode
.mixin.out
.analogaudio
.github
.pg-native/
options.txt
usercache.json
usernamecache.json
ponders_watched.json
ponders_watched_azimuth.json
.qmenu_opened.marker
command_history.txt
**/jsconfig.json
jsconfig.json
kubejs/package.json
vista_ffmpeg_bin
vista_ffmpeg_sources.json
config/DistantHorizons.toml
emi.json
emi_loot_config.toml
README.txt
config/sodium-fingerprint.json
config/quickskin-client.json
icon.png
